
<div>
    <table class="table-hover">
        <tbody>
        <tr ng-repeat="route in vm.routes track by $index">
            <td>
                <strong class="text-capitalize">#{{$index+1}} {{route.start}} - {{route.end}}</strong>
            </td>
            <td>&nbsp;</td>
            <td>
                <button type="button" class="btn btn-info"
                        ng-click="vm.viewRoute(route, $index)"><b>Detail</b></button>
            </td>
            <td>&nbsp;</td>
            <td>
                <button type="button" class="btn btn-danger"
                        ng-click="vm.removeRoute($index)"><b>Delete</b></button>
            </td>
        </tr>
        </tbody>
    </table>

    <h5>
        <strong>You have {{vm.routes.length}} route<span ng-hide="vm.routes.length===1">s</span>.</strong>
    </h5>
</div>