
<div>
    <h1>Routes</h1>

    <form class="form-inline" name="routeForm">
        <div class="form-group">
            <label class="sr-only" for="routeStartInput">Route Start</label>
            <input type="text" class="form-control" id="routeStartInput" placeholder="Start"
                   required minlength=3 maxlength=42">
        </div>
        <div class="form-group">
            <label class="sr-only" for="routeEndInput">Route End</label>
            <input type="text" class="form-control" id="routeEndInput" placeholder="End"
                   required minlength=3 maxlength=42>
        </div>
        <button type="submit" class="btn btn-info pull-right">Submit</button>
    </form>
</div>